bin/Debug/leveldb-sharp.dll
bin/Debug/leveldb-sharp.pdb
bin/Debug/NouchDB.dll
bin/Debug/NouchDB.pdb
dbg/tmp/Leveldb.log
bin/Debug/leveldb-sharp.dll
bin/Debug/leveldb-sharp.pdb
bin/Debug/NouchDB.dll
bin/Debug/NouchDB.pdb
dbg/tmp/Leveldb.log
leveldb-sharp/obj/x86/Debug/leveldb-sharp-tests.csproj.FileListAbsolute.txt
leveldb-sharp/obj/x86/Debug/leveldb-sharp-tests.csprojResolveAssemblyReference.cache
leveldb-sharp/obj/x86/Debug/leveldb-sharp-tests.dll
leveldb-sharp/obj/x86/Debug/leveldb-sharp-tests.pdb
leveldb-sharp/obj/x86/Debug/leveldb-sharp.csproj.FileListAbsolute.txt
leveldb-sharp/obj/x86/Debug/leveldb-sharp.csprojResolveAssemblyReference.cache
leveldb-sharp/obj/x86/Debug/leveldb-sharp.dll
leveldb-sharp/obj/x86/Debug/leveldb-sharp.pdb
LitJson/AssemblyInfo.cs.in
*.dll
*.pdb
*.cache
*.pdb
*.sdf
*.opensdf
